.-grid {
    max-width: initial; 
  }
[data-md-color-scheme="normie"] 
  {
    --md-primary-fg-color:        #6a9f95;
    --md-primary-fg-color--light: #768f8a;
    --md-primary-fg-color--dark:  #4a5a57;
    --md-typeset-a-color: #6a9f95;
    --md-typeset-a-color: #6a9f95;
    --md-accent-fg-color: #6a9f95;
    --md-hue: 210; 
  }
  [data-md-color-scheme="hackermode"] 
  {
    --md-primary-fg-color:        #757575;
    --md-primary-fg-color--light: #909090;
    --md-default-fg-color--lighter: #757575;
    --md-primary-fg-color--dark:  #484848;
    --md-default-bg-color: #262626;
    --md-typeset-a-color: #6a9f95;
    --md-accent-fg-color: #6a9f95;
    --md-code-bg-color: #9d9d9d;
    --md-footer-bg-color: #484848;
    color: #dbdbdb;
    --md-default-fg-color--light: #dbdbdb;
    --md-search__input: #dbdbdb;
  }
  